@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "Roboto";
}

.header {
    button {
        float: right;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40vh;

    .title {
        font-family: "Roboto";
    }

    .subtitle {
        font-size: 3rem;
        font-family: "Nunito";
    }
}

.tableOfContents {
    margin-top: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}

@media only screen and (min-width: 768px) {
    .tableOfContents {
        justify-content: space-around;

        .rest {
            opacity: 0;
            transition: opacity .5s ease-in;
        }

        .initial:hover {
            .rest {
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;

        .subtitle {
            margin-left: 0.5rem;
        }
    }

    .tableOfContents {
        margin-top: -6rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        align-content: flex-end;

        a {
            margin: 0 1rem 2rem 0;
        }

        .rest {
            display: none;
        }
    }
}
