@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Roboto";
  background-color: var(--standard-light-colour);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #171a1b;
}

ul {
  list-style: none;
}

header {
  top: 0;
  width: 100%;
  height: 6%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header a {
  color: #e7e6e3;
  font-family: "Nunito";
  font-size: 1.2rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 94vh;
}

.hero .title {
  color: #171a1b;
}

.hero .subtitle {
  font-size: 3rem;
  font-family: "Nunito";
}

/* header {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .subtitle {
        font-size: 3rem;
        font-family: "Nunito";
    }
} */
/* header {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 0 0 0 .5rem;
        }

        .navback {
            position: relative;
            height: 3rem;
            width: 3rem;
            background-color: $standard-dark-colour;
            
            .navbackLink {
                position: absolute;
                color: $standard-light-colour;
                transform: translate(85%, 65%);
            }
        }

        .logo {
            margin-left: auto;
        }

        .navbackIcon {
            border-radius: 0 0 .5rem 0;
        }
    }
} */
/* .hero{
    transform: translateY(30vh);
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .subtitle {
            font-size: 3rem;
            font-family: "Nunito";
        }

        ul { 
            padding: 0 .5rem;
            li {
                padding: .5rem;
                margin-bottom: .5rem;
                background-color: #171a1b;
                color: $standard-light-colour;
                border-radius: .5rem;
                font-size: 2rem;
                text-align: center;
            }
            
            a {
                color: $standard-light-colour;
            }
        }

        
    }
} */
/* .heroAbout {
    transform: translateY(15vh);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        margin-bottom: 2rem;
        height: 10rem;
        width: 10rem;
        border-radius: 5rem;
    }

    p {
        padding: 0 1rem;
    }
} */
/* .tableOfContentsMain {
    background: #333;
    height: 100vh; 
    
    a {
        padding-top: 2rem;
        color: $standard-light-colour;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-end;
    }
} */
.about {
  background: #333;
  color: #e7e6e3;
  height: 100%;
}

.about .title {
  padding: 2rem 2rem 0;
  font-size: 5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .content {
  padding: 2rem 2rem 0;
  font-family: "Nunito";
}

.projects {
  background: #e7e6e3;
  height: 100vh;
}

.projects .title {
  font-size: 5rem;
  margin-bottom: 10rem;
  padding: 2rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.projects .content .tile {
  height: 30rem;
  width: 20rem;
  background-color: #333;
  border-radius: 2rem;
}

.contact {
  background: #333;
  color: #e7e6e3;
  height: 100%;
}

.contact .title {
  padding: 2rem 2rem 0;
  font-size: 5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .content {
  font-family: "Nunito";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
}

.nav-up {
  position: fixed;
  background-color: #171a1b;
  color: #e7e6e3;
  font-weight: bold;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  -webkit-box-shadow: 10px 10px teal;
          box-shadow: 10px 10px teal;
}

/* @media only screen and (min-width: 768px) {
    .tableOfContents {
        justify-content: space-around;

        .rest {
            opacity: 0;
            transition: opacity .5s ease-in;
        }

        .initial:hover {
            .rest {
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;

        .subtitle {
            margin-left: 0.5rem;
        }
    }

    .tableOfContents {
        margin-top: -6rem;
        transform: translateY(-300%);
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        align-content: flex-end;

        a {
            margin: 0 1rem 2rem 0;
        }

        .rest {
            display: none;
        }
    }
} */
/*# sourceMappingURL=main.css.map */