/* html {
    background: black;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.notification {
    background: black;
    padding: 0.8em;
    text-align: center;

    p {
        color: white;
        content: center;
    }

    span {
        text-decoration: underline;
    }
}

.navBar {
    padding: 2em 1em 0 1em;
    background: rgb(240, 238, 235);

    .container {
        display: flex;
        place-content: space-between;
    }

    span {
        font-size: 150%;
    }

    nav {
        display: none;
    }

    a {
        font-weight: bold;
        font-size: 1em;
    }
}

.hero {
    position: relative;
    padding: 2em 0.8em 2em 0.8em;
    background: rgb(240, 238, 235);

    .heroMessage {
        margin-top: -0.5em;
        color: rgb(90, 84, 68);
    }

    img {
        width: 100%;
        margin-bottom: 0.5em;
        height: 80%;
    }

    ul {
        list-style: none;
        margin-bottom: 2em;
        li {
            margin-left: -0.5em;
            margin-bottom: 0.5em;
            position: relative;
            color: rgb(90, 84, 68);

            &:before {
                content: "";
                left: -2em;
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url(../assets/Checkmark.svg);
                background-size: contain;
                margin-right: 2em;
            }
        }
    }

    input[type="text"] {
        background-color: white;
        font-family: "Roboto";
        border: none;
        border-radius: 0.3em;
        padding: 1.35em;
        width: 40%;
        margin-right: 1em;
    }

    input[type="submit"] {
        background-color: black;
        color: white;

        font-size: 1em;
        border: none;
        border-radius: 0.3em;
        padding: 1em;
    }
}

.feature {
    .container {
        padding: 1em;

        .featureCompanies {
            margin: 2em 0em 3em;
            display: flex;
            place-content: space-between;

            .tablet {
                display: none;
            }

            .desktop {
                display: none;
            }

            img {
                width: 30%;
            }
        }

        .featureBox {
            background: rgb(240, 238, 235);
            padding: 1em 2em 1em 2em;
            border-radius: 0.4em;

            p {
                color: rgb(90, 84, 68);
            }

            a {
                color: rgb(90, 84, 68);
                text-decoration: underline;
            }

            img {
                width: 100%;
                position: relative;
                bottom: -1.2em;
            }
        }
    }
}

.details {
    .container {
        padding: 1em;
        color: rgb(90, 84, 68);
    }

    h1 {
        color: black;
    }

    a {
        color: rgb(90, 84, 68);
        text-decoration: underline;
    }

    img {
        margin-top: 2em;
        width: 100%;
    }
}

.footer {
    background: black;
    color: white;

    ul {
        text-decoration: none;

        li {
            list-style-type: none;
            margin-bottom: 0.5em;
        }
        a {
            margin-left: -2.5em;
            color: rgb(125, 125, 125);
        }
    }

    .container {
        padding: 1em;

        .wrapper {
            display: grid;
            column-gap: 7em;

            .spense {
                grid-column: 1 / span 2;
                grid-row: 1;
            }

            .company {
                grid-column: 1;
                grid-row: 2;
            }

            .opportunities {
                grid-column: 2;
                grid-row: 2;
            }

            .sitemap {
                grid-column: 1;
                grid-row: 3;
            }

            .resources {
                grid-column: 2;
                grid-row: 3;
            }
        }

        h3.name {
            padding-top: 1em;
        }

        p {
            color: rgb(125, 125, 125);
        }
    }
}

@media only screen and (min-width: 768px) {
    .navBar {
        padding: 3em 2em 2em;
        margin-bottom: -3em;

        .container {
            display: grid;
            grid-template-columns: 100px auto;
        }

        img {
            display: none;
        }

        a {
            font-weight: 100;
        }

        nav {
            margin-top: -1em;
            display: flex;
            place-content: space-between;
            position: unset;
            height: auto;
            width: 100%;

            ul {
                list-style-type: none;
                display: flex;

                li {
                    margin-left: 2em;
                }
                .getStartedButton {
                    margin-top: -1em;
                    a {
                        color: white;
                    }
                    background: black;
                    border: none;
                    border-radius: 0.3em;
                    padding: 1em;
                }
            }
        }

        ul.primaryNav {
            margin-right: -3em;
        }
    }

    .hero {
        padding: 2em 2em 2em 2em;

        .crop {
            overflow: hidden;
        }
        img {
            margin-bottom: -16em;
            border-radius: 2em;
        }

        h1 {
            font-size: 250%;
        }
    }

    .feature {
        padding: 0em 1em;

        .container {
            .featureCompanies {
                .tablet {
                    display: block;
                }
                img {
                    width: 15%;
                }
            }
        }
    }

    .details {
        padding: 0em 1em;

        margin-bottom: -3em;
    }

    .footer {
        .container {
            padding: 2em 2em 0em;
            .wrapper {
                column-gap: 5em;

                .sitemap {
                    grid-column: 3;
                    grid-row: 1;
                }

                .resources {
                    grid-column: 4;
                    grid-row: 1;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .navBar {
        padding: 2em 5em;
        span {
            font-size: 150%;
        }

        nav {
            ul.primaryNav {
                position: absolute;
                left: 33%;
            }
        }
    }

    .hero {
        padding: 2em 5em;

        .container {
            display: grid;
            column-gap: 5em;
        }

        .rightColumn {
            margin-top: 1em;
            grid-column: 2;
            grid-row: 1;
        }

        .leftColumn {
            grid-column: 1;
            grid-row: 1;
        }

        img {
            border-radius: 2em;
            margin: unset;
        }

        h1 {
            font-size: 250%;
        }
    }

    .feature {
        .container {
            padding: 0em 4em;

            .featureCompanies {
                .desktop {
                    display: block;
                }

                img {
                    width: 10%;
                }
            }

            .featureBox {
                .wrapper {
                    display: grid;
                    column-gap: 2em;
                    row-gap: 0em;

                    .image {
                        grid-column: 2;
                        grid-row: 1;
                    }

                    .text {
                        margin-top: 3em;
                    }
                }
            }
        }
    }

    .details {
        .container {
            padding: 2em 5em;
        }

        .wrapper {
            display: grid;
            column-gap: 2em;

            .text {
                margin-top: 2em;
                grid-column: 2;
                grid-row: 1;
            }

            .image {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }

    .footer {
        .container {
            padding: 1em 4em;

            .wrapper {
                column-gap: 2em;

                .company {
                    grid-column: 5;
                    grid-row: 1;
                }

                .opportunities {
                    grid-column: 6;
                    grid-row: 1;
                }
            }
        }
    }
}
